{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Ajout d'un affichage</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div>
        {# TODO affichage sous forme de vignettes #}
        <h1>Liste des affichages</h1>
        {% for affichage in affichages %}
            <a href="/affichage/{{ affichage.id }}">{{ affichage.name }}</a>
        {% endfor %}
    </div>
{% endblock %}
