{% extends 'base.html.twig' %}

{% block body %}
    <div>

        {{ form_start(form) }}

        {% form_theme form 'form/fields.html.twig' %}

        <ul class="demo-list-item mdl-list">
            <li class="mdl-list__item mdl-list__item_form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                    {{ form_label(form.name, null, { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, { 'attr': {'class': 'mdl-textfield__input'} }) }}
                </div>
            </li>
            <li class="mdl-list__item mdl-list__item_form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form_label(form.url, null, { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
                    {{ form_errors(form.url) }}
                    {{ form_widget(form.url, { 'attr': {'class': 'mdl-textfield__input'} }) }}
                </div>
            </li>
            <li class="mdl-list__item mdl-list__item_form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form_label(form.slidesNumber, null, { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
                    {{ form_errors(form.slidesNumber) }}
                    {{ form_widget(form.slidesNumber, { 'attr': {'class': 'mdl-textfield__input', 'pattern': '[0-9]*'} }) }}
                </div>
            </li>
            <li class="mdl-list__item mdl-list__item_form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form_label(form.slideDuration, null, { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
                    {{ form_errors(form.slideDuration) }}
                    {{ form_widget(form.slideDuration, { 'attr': {'class': 'mdl-textfield__input', 'pattern': '-?[0-9]*(\.[0-9]+)?'} }) }}
                </div>
            </li>
            <li class="mdl-list__item mdl-list__item_form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form_label(form.slideTransitionDuration, null, { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
                    {{ form_errors(form.slideTransitionDuration) }}
                    {{ form_widget(form.slideTransitionDuration, { 'attr': {'class': 'mdl-textfield__input', 'pattern': '-?[0-9]*(\.[0-9]+)?'} }) }}
                </div>
            </li>

            <li class="mdl-list__item mdl-list__item_form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form_label(form.presentationDuration) }}
                    {{ form_errors(form.presentationDuration) }}
                    {{ form_widget(form.presentationDuration) }}
                </div>
            </li>


            <li class="mdl-list__item mdl-list__item_form">
                <div>
                    {{ form_label(form.save, null, { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
                    {{ form_widget(form.save, { 'attr': {'class': 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'} }) }}
                </div>
            </li>

            <li class="mdl-list__item mdl-list__item_form">
                <a href="{{ path('presentation_edit', {'presentationId': presentation.id}) }}">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        DELETE
                    </button>
                </a>
            </li>

        </ul>

        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
