{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h4>Liste des présentations</h4>
        {# TODO P3 : ajouter durée présentation estimée + nb de slides peut etre en tooltip #}
        {% for presentation in presentations %}
            <span class='mdl-chip'>
                <span class='mdl-chip__text'>{{ presentation.name }}</span>
                <a href='#' class='mdl-chip__action' data-action='add' data-presentation-id='{{ presentation.id }}' data-presentation-name='{{ presentation.name }}'><i class='material-icons'>add</i></a>
            </span>
        {% endfor %}
    </div>

    <div>
        <h4>Organiser la série</h4>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>

    <div>
        <ul id='sortable'>
            {% for affichage in serie.affichages  %}
                <span class='mdl-chip' id='{{ affichage.presentation.id }}'>
                    <span class='mdl-chip__text'>{{ affichage.presentation.name }}</span>
                        <a href='#' class='mdl-chip__action' data-action='remove'><i class='material-icons'>cancel</i></a> +
                    </span>
                </span>
            {% endfor %}
        </ul>
        <button id='getOrder' disabled="disabled">Mettre a jour</button>
    </div>


{% endblock %}


