{% extends 'base.html.twig' %}

{% block body %}

    <div class="mdl-layout__content">
        <div class="mdl-grid">
            <h3 class="mdl-cell mdl-cell--12-col">Séries </h3>
            <a class="mdl-cell mdl-cell--12-col" href="{{ path('serie_add') }}">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect mdl-button--accent">
                    <i class="material-icons">add</i>
                </button>
            </a>

            {% for serie in series %}
                <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
                    <a href="{{ path('serie_manage', {'serieId': serie.id}) }}">
                        <div class="mdl-card__title" style="min-height: 130px;">
                            <h5>{{ serie.name }}</h5>
                        </div>
                    </a>
                    <div class="mdl-card__actions mdl-card--border">
                        {{ serie.heureDebut|date('H:m') }} - {{ serie.heureFin|date('H:m') }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
