{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Ajout d'une série</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div>
        {# TODO P3 : serie sous forme de vignettes #}
        <h1>Liste des Séries</h1>
        {% for serie in series %}
            <a href="/serie/{{ serie.id }}">{{ serie.name }}</a>
        {% endfor %}
    </div>
{% endblock %}
