{% extends 'base.html.twig' %}

{% block body %}


    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            {{ form_start(form) }}

            {% form_theme form 'form/fields.html.twig' %}

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                        {{ form_label(form.name, null, { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, { 'attr': {'class': 'mdl-textfield__input'} }) }}
                    </div>
                    <div style="display: none">
                        {{ form_label(form.heureDebut, null, { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
                        {{ form_errors(form.heureDebut) }}
                        {{ form_widget(form.heureDebut, { 'attr': {'class': 'mdl-textfield__input'} }) }}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                        <input type="text" id="heureDebut" class="mdl-textfield__input mdl-timepicker__input" placeholder="Heure début" value="{{ serie.heureDebut|date('H:m') }}">
                    </div>
                    <div style="display: none">
                        {{ form_label(form.heureFin, null, { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
                        {{ form_errors(form.heureFin) }}
                        {{ form_widget(form.heureFin, { 'attr': {'class': 'mdl-textfield__input'} }) }}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                        <input type="text" id="heureFin" class="mdl-textfield__input mdl-timepicker__input" placeholder="Heure début" value="{{ serie.heureFin|date('H:m') }}">
                    </div>

                    <div>
                        {{ form_label(form.save, null, { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
                        {{ form_widget(form.save, { 'attr': {'class': 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'} }) }}
                        <a href="{{ path('serie_delete', {'serieId': serie.id}) }}">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button">
                                <i class="material-icons">delete</i>
                            </button>
                        </a>
                        <button id='getOrder' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button">
                            <i class="material-icons">update</i>
                        </button>
                    </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

        <div class="mdl-cell mdl-cell--4-col">
            <h5>Présentations de la série</h5>
            <ul id='sortable'>
                {% for affichage in serie.affichages  %}
                    <span class='mdl-chip' id='{{ affichage.presentation.id }}'>
                        <span class='mdl-chip__text'>{{ affichage.presentation.name }}</span>
                            <a href='#' class='mdl-chip__action' data-action='remove'><i class='material-icons'>cancel</i></a> +
                        </span>
                    </span>
                {% endfor %}
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <h5>Présentations disponibles</h5>
            {# TODO P3 : ajouter durée présentation estimée + nb de slides peut etre en tooltip #}
            {% for presentation in presentations %}
                <span class='mdl-chip'>
                <span class='mdl-chip__text'>{{ presentation.name }}</span>
                <a href='#' class='mdl-chip__action' data-action='add' data-presentation-id='{{ presentation.id }}' data-presentation-name='{{ presentation.name }}'><i class='material-icons'>add</i></a>
            </span>
            {% endfor %}
        </div>
    </div>


    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar" style="height: 100px;">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
    </div>

{% endblock %}


